fastapi==0.86.0
uvicorn==0.19.0

#for loading environment variables
python-dotenv~=0.21.0

#for database
sqlalchemy==1.4.43
psycopg2==2.9.5

#for migrations
alembic==1.8.1

#for jwt tokens
python_jose==3.3.0

#hashing
passlib[bcrypt]==1.7.4

#for accessing form data
python-multipart==0.0.5

#for email validation
pydantic[email]==1.10.2